.header__container{
    background-color: #f8f8f8;
    text-align: center;
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.header__title{
    padding: 10px 0px;
}

.header__title span{
    font-size: 38px;
    font-weight: bolder;
}

.header__subtitle{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    color: #9393a2;
    direction: ltr;
    letter-spacing: 0em;
    -webkit-box-direction: normal;
    margin: 0;
    font-style: normal;
}

.header__link{
    text-align: center;
    text-decoration: none;
}

.header__link-span{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    -webkit-box-direction: normal;
    color: #06c;
    letter-spacing: inherit;
    font-style: normal;
}

.header__link-span:hover{
    text-decoration: underline;
}

.header__line{
    border-bottom: 1px solid #000000;
}

.header__link-container{
    padding: 5px 0px;
}