.nav_container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#24292e;
}

.nav_container li {
    float: left;
}

.nav_login {
    float: right !important;
}

.nav_logout {
    float: right !important;
}

.nav_item_active {
    background-color: #4CAF50 !important;
}
  
.nav_container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav_container li a:hover{
    color: rgb(201, 201, 201);
}


@media screen and (max-width: 600px) {
  .nav_container li.right, 
  .nav_container li {float: none;}
  .nav_login {float: none !important}
  .nav_logout {float: none !important}
}