.nav_container{
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    overflow: hidden;
}

.nav_container li {
    float: left;
}

.nav__right-item {
    float: right !important;
}
  
.nav_container li a {
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav_container li a:hover{
    color: #000000;
    font-weight: 600;
}


@media screen and (max-width: 600px) {
  .nav_container li.right, 
  .nav_container li {float: none;}
  .nav__right-item-active {float: none !important}
  .nav__right-item {float: none !important}
}

.nav__ul-container{
    border-bottom: 1px solid black;
    background-color:#f8f8f8;
}

.nav__right-item a:hover{
    cursor: pointer;
}