.login__fieldset{
    border: none;
    margin-top: 50px;
}

.login__fieldset__element{
    border: none;
}

.login__container{
    -webkit-tap-highlight-color: transparent;
    font-family: source sans pro,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

.login__button{
    -webkit-tap-highlight-color: transparent;
    font: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    touch-action: manipulation;
    margin: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    padding: .60rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    width: 100%;
}

.login__fieldset__submit{
    margin-top: 50px;
}